.select {
  position: relative;
  width: 290px;
  margin-left: auto;
  line-height: 19px;
}

.selected {
  padding: 15px;
  border: 1px solid var(--border-color);
  border-radius: 12px;
  background-color: var(--white);
  cursor: pointer;
  transition: border-color 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.showOptionsSelect .selected {
  border-color: var(--primary-color);
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

.options {
  width: 100%;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  background-color: #fff;
  border: 1px solid var(--primary-color);
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  border-top: none;
  list-style: none;
  z-index: 2;

  max-height: 210px;
  opacity: 1;
  visibility: visible;
  overflow: hidden;
  transition:
    opacity 300ms ease-in-out,
    max-height 300ms ease-in-out;
}

.optionsHidden {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition:
    opacity 0ms ease-in-out,
    max-height 0ms ease-in-out;
}

.options li:hover {
  background-color: var(--primary-background-color);
  color: var(--primary-color);
}

.options li:last-child:hover {
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
}

.option {
  padding: 15px;
  cursor: pointer;
}

@media (max-width: 1023px) {
  .select {
    width: 100%;
  }
}
