.categoriesWrapper {
  display: flex;
  justify-content: space-between;
  color: var(--main-text-color);
  margin-bottom: 40px;
  align-items: center;
  font-weight: 600;
  gap: 20px;
}

.sliderWrapper {
  border-radius: 50px;
  background-color: var(--white);
  box-shadow: 1px 1px 8px rgba(4, 15, 42, 0.1);
  padding: 12px;
  display: flex;
  gap: 8px;
}

.slideWrapper {
  border-radius: 25px;
  display: flex;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  text-transform: uppercase;
}

.slide {
  border-radius: 25px;
  padding: 11.5px 15px;
}

.active {
  background-color: var(--primary-color);
  color: var(--white);
  padding: 11.5px 15px;
  border-radius: 25px;
}

@media (width <= 1023px) {
  .categoriesWrapper {
    margin-bottom: 24px;
    overflow-x: auto;
    scroll-snap-type: none;
    scrollbar-width: none;
    padding: 5px;
  }

  .slideWrapper {
    scroll-snap-align: start;
    white-space: nowrap;
  }
}

@media (hover: hover) {
  .slide:hover {
    background-color: var(--primary-background-color);
  }
}
