.wrapper {
  width: 100%;
}

.title {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 600;
}

.name,
.price {
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
}

.innerWrapper {
  display: flex;
}

.image {
  margin-right: 20px;
  box-shadow: 2px 2px 24px 0px rgba(9, 21, 85, 0.08);
}

.name {
  margin-bottom: 8px;
}

.price {
  margin-bottom: 25px;
}
