.section {
  padding-block-start: 40px;
  padding-block-end: 70px;
}

.title {
  font-weight: 600;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 1.05;
  color: var(--main-text-color);
}

.amount {
  font-weight: 500;
}
