.cartLink {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
  color: var(--main-text-color);
}

.totalItems {
  position: absolute;
  top: 10px;
  right: 2px;

  display: flex;
  justify-content: center;
  align-items: center;

  width: 16px;
  height: 16px;
  border-radius: 50%;

  font-size: 12px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: 0.65px;

  color: var(--white);
  background-color: var(--primary-color);
}

/* @media (max-width: 1023px) {
  .cartLink {
    display: none;
  }
} */
