.link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: var(--white);
  transition: color 250ms var(--transition-function);
}

.link:hover {
  color: var(--white);
  background-color: var(--main-text-color);
}

.light {
  color: var(--white);
}

.dark {
  color: var(--main-text-color);
}
